@import 'tailwindcss';

:root {
  --background: #fefefe;
  --foreground: #160f29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #160f29;
    --foreground: #fefefe;
  }
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-2xl sm:text-3xl font-medium;
  }

  h2 {
    @apply text-xl sm:text-2xl font-medium;
  }

  h3 {
    @apply text-lg sm:text-xl font-medium;
  }

  h4 {
    @apply text-base sm:text-lg font-medium;
  }

  header a {
    @apply hover:text-blue-700 dark:hover:text-indigo-300 transition-colors duration-150;
  }
}

@layer components {
  input,
  textarea,
  select {
    @apply w-full p-2 border rounded-sm bg-[var(--background)]/80 focus:outline-1 outline-blue-700
      hover:border-gray-500;
  }
}

/* Animation */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
