@import 'tailwindcss';

:root {
  --background: #fefefe;
  --foreground: #160f29;
  --font-sigmar: 'Sigmar', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f29;
    --foreground: #fefefe;
  }
}

@layer base {
  /* Text */

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-2xl sm:text-3xl font-medium;
  }

  h2 {
    @apply text-xl sm:text-2xl font-medium;
  }

  h3 {
    @apply text-lg sm:text-xl font-medium;
  }

  h4 {
    @apply text-base sm:text-lg font-medium;
  }

  label {
    @apply text-base sm:text-lg;
  }

  header a {
    @apply hover:text-blue-500 transition-colors duration-300;
  }
}

/* Form Basics */
@layer components {
  form {
    @apply grid min-w-[350px] bg-[var(--background)]/80 text-[var(--foreground)] shadow-sm rounded-2xl p-10 text-lg text-center;
  }

  form p,
  form a {
    @apply mt-2;
  }

  input,
  textarea,
  select {
    @apply w-full my-2 p-2 border rounded-sm bg-[var(--background)]/80 transition-all duration-200
      hover:border-gray-500;
  }
}

/* Animation Utilities */
html {
  scroll-behavior: smooth;
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer utilities {
  .transition-standard {
    @apply transition-all duration-300 ease-in-out;
  }
}

header {
  @apply fixed top-0 left-0 right-0 z-10 w-screen py-4 bg-transparent text-[var(--foreground)];
}
