@import 'tailwindcss';

:root {
  --background: #fefefe;
  --foreground: #160f29;
  --font-sigmar: 'Sigmar', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f29;
    --foreground: #fefefe;
  }
}

@layer base {
  /* Text */

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-2xl sm:text-3xl font-medium;
  }

  h2 {
    @apply text-xl sm:text-2xl font-medium;
  }

  h3 {
    @apply text-lg sm:text-xl font-medium;
  }

  h4 {
    @apply text-base sm:text-lg font-medium;
  }

  label {
    @apply text-base sm:text-lg;
  }

  header a {
    @apply hover:text-blue-500 transition-colors duration-300;
  }
}

/* Form Basics */
@layer components {
  form {
    @apply flex flex-col items-center bg-[var(--background)]/80 text-[var(--foreground)] shadow-sm rounded-2xl p-10 text-lg;
  }

  form p,
  form a {
    @apply mt-2;
  }

  input,
  textarea,
  select {
    @apply w-full my-2 p-2 border rounded-sm bg-[var(--background)]/80 transition-all duration-200
      hover:border-gray-500;
  }

  button,
  .btn {
    @apply bg-[var(--background)]/50 text-[var(--foreground)] hover:bg-[var(--foreground)]/50 hover:border-[var(--foreground)] hover:text-[var(--background)];
  }

  .zxcvbn {
    @apply flex flex-col w-full space-y-2;
  }

  .btn {
    @apply inline-flex items-center justify-center w-full mt-2 px-4 py-2 sm:px-4 sm:py-2
        border rounded-md font-medium text-center
        transition-all duration-200 ease-in-out;
  }

  .btn-primary {
    @apply hover:bg-gray-700 hover:text-white dark:hover:bg-gray-300 dark:hover:text-[var(--background)];
  }

  .btn-disabled {
    @apply opacity-50 cursor-not-allowed hover:bg-inherit hover:text-inherit;
  }
}

/* Animation Utilities */
html {
  scroll-behavior: smooth;
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer utilities {
  .transition-standard {
    @apply transition-all duration-300 ease-in-out;
  }
}

header {
  @apply fixed top-0 left-0 right-0 z-10 w-screen py-4 bg-transparent text-[var(--foreground)];
}
