@import 'tailwindcss';

:root {
  --background: #fefefe;
  --foreground: #160f29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #160f29;
    --foreground: #fefefe;
  }
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  h1 {
    @apply text-2xl font-medium sm:text-3xl;
  }

  h2 {
    @apply text-xl font-medium sm:text-2xl;
  }

  h3 {
    @apply text-lg font-medium sm:text-xl;
  }

  h4 {
    @apply text-base font-medium sm:text-lg;
  }

  header a {
    @apply transition-colors duration-150 hover:text-blue-700 dark:hover:text-indigo-300;
  }
}

@layer components {
  input,
  textarea,
  select {
    @apply w-full rounded-sm border bg-[var(--background)]/80 p-2 outline-blue-700 hover:border-gray-500 focus:outline-1;
  }
}

/* Animation */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
