@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sigmar: 'Sigmar', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f29;
    --foreground: #ededed;
  }
}

/* Base typography */
@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  .logo {
    font-family: var(--font-sigmar);
  }

  .main-logo {
    @apply text-8xl mb-4;
  }

  .header-logo {
    @apply text-3xl hover:text-inherit transition-none;
  }

  .heading {
    @apply text-2xl sm:text-3xl font-medium;
  }

  .card-heading,
  .subheading {
    @apply text-xl sm:text-2xl font-medium;
  }

  .card-subheading {
    @apply text-lg sm:text-xl font-medium;
  }

  .info-heading {
    @apply text-base sm:text-lg font-medium;
  }

  .large-text {
    @apply text-lg sm:text-2xl;
  }

  .medium-text {
    @apply text-lg sm:text-xl;
  }

  .detail-text {
    @apply text-base;
  }

  .error {
    @apply text-red-600;
  }

  p,
  li {
    @apply py-1;
  }

  a {
    @apply hover:text-blue-500 transition-colors duration-300;
  }

  .navLink {
    @apply text-xl;
  }
}

/* Form Basics */
@layer components {
  form {
    @apply flex flex-col items-center bg-[var(--background)] text-[var(--foreground)] shadow-xl rounded-2xl p-10 text-lg;
  }

  form p,
  form a,
  .turnstile {
    @apply mt-2;
  }

  input,
  textarea,
  select {
    @apply w-full my-2 p-2 border rounded-sm transition-all duration-200
      hover:border-gray-500;
  }

  .zxcvbn {
    @apply flex flex-col w-full space-y-2 mt-2 mb-4;
  }

  .btn {
    @apply inline-flex items-center justify-center w-full mt-2 px-4 py-2 sm:px-4 sm:py-2 text-lg
        border rounded-md font-medium text-center
        transition-all duration-200 ease-in-out;
  }

  .btn-primary {
    @apply hover:bg-gray-700 hover:text-white dark:hover:bg-gray-300 dark:hover:text-[var(--background)];
  }

  .btn-disabled {
    @apply opacity-50 cursor-not-allowed hover:bg-inherit hover:text-inherit;
  }
}

/* Animation Utilities */
html {
  scroll-behavior: smooth;
}

/* Respect user's motion preferences */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer utilities {
  .transition-standard {
    @apply transition-all duration-300 ease-in-out;
  }
}
