@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sigmar: 'Sigmar', sans-serif;
  --font-outfit: "Outfit", sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base typography */
@layer base {

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  h1 {
    font-family: var(--font-sigmar);
    @apply text-8xl mb-4
  }

  h2 {
    @apply text-5xl font-medium
  }

  h3 {
    @apply text-2xl
  }

  a {
    @apply hover:text-blue-500 transition-colors duration-300;
  }

  a.logo {
    @apply hover:text-inherit transition-none;
  }

}

/* Form Basics */
@layer components {
  
  input, textarea, select {
    @apply w-full my-2 p-2 border rounded-sm transition-all duration-200
      focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-transparent
      hover:border-gray-500;
  }

  .btn {
    @apply inline-flex items-center justify-center w-full px-4 py-2 
        border rounded-md font-medium text-center
        transition-all duration-200 ease-in-out
        focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-primary {
    @apply hover:bg-gray-700 hover:text-white
           focus:ring-blue-500;
  }

  .btn-disabled {
    @apply opacity-50 cursor-not-allowed hover:bg-inherit hover:text-inherit;
  }

}

/* Animation Utilities */
@layer utilities {

  .transition-standard {

    @apply transition-all duration-300 ease-in-out;
  
  }

}