@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sigmar: 'Sigmar', sans-serif;
  --font-outfit: "Outfit", sans-serif
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base typography */
@layer base {

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
    font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  }

  h1 {
    font-family: var(--font-sigmar);
    @apply text-8xl mb-4
  }

  .secondary {
    font-family: var(--font-outfit);
  }

  h2, .secondary {
    @apply text-3xl font-medium
  }

  h3 {
    @apply text-xl font-medium
  }

  .main-text {
    @apply text-2xl sm:text-3xl 
  }

  a {
    @apply hover:text-blue-500 transition-colors duration-300;
  }

  a.logo {
    font-family: var(--font-sigmar);
    @apply text-3xl hover:text-inherit transition-none;
  }

  p, li {
    @apply py-1
  }

  .error {
    @apply text-red-600
  }

  .navLink {
    @apply text-xl
  }

}

/* Form Basics */
@layer components {
  
  form {
    @apply flex flex-col items-center bg-[var(--background)] text-[var(--foreground)] shadow-xl rounded-2xl p-10 text-lg
  }

  form p, form a, .turnstile {
    @apply mt-2
  }
  
  input, textarea, select {
    @apply w-full my-2 p-2 border rounded-sm transition-all duration-200
      hover:border-gray-500;
  }

  .zxcvbn {
    @apply flex flex-col w-full space-y-2 mt-2 mb-4
  }

  .btn {
    @apply inline-flex items-center justify-center w-full mt-2 px-4 py-2 
        border rounded-md font-medium text-center
        transition-all duration-200 ease-in-out
  }

  .btn-primary {
    @apply hover:bg-gray-700 hover:text-white
           focus:ring-blue-500;
  }

  .btn-disabled {
    @apply opacity-50 cursor-not-allowed hover:bg-inherit hover:text-inherit;
  }

}

/* Animation Utilities */
@layer utilities {

  .transition-standard {

    @apply transition-all duration-300 ease-in-out;
  
  }

}